
@media screen 
and (min-device-width: 200px) {

body{
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

h2{
    color: rgb( 156, 186, 181);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}


.Trajan-concept { 
    font-family: trajan-color, serif;
    font-feature-settings: "ss12";
    font-size: 2em;
    line-height: 1.2em;
    margin-top: -20px;
    margin-bottom: 1.5em;
    text-align: center;
}

.odetteWatching{
    margin-bottom: -10%;
    max-width: 90%;
}

.caption{
    background-color:rgb(246, 217, 208);
    color: rgb(156, 186, 181); 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: left;
    max-width: 80%;
    position: relative;
    margin: 0 auto;
    -webkit-box-shadow: 9px 14px 29px -11px rgba(156, 186, 181,1);
    margin-bottom: 20px;
    padding: 5px 5%;
}

.about{
    background-color: rgb( 156, 186, 181,.8);
    color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 50px auto 0 auto;
    padding: 10px 30px;
    text-align: left;
}

.about > p{
    padding-top: 2em;
    align-content: center;
    margin: 0 auto;
}

.img{
    font-size: 0;
}

.transparentImage{
    background-color: rgb( 156,186,181,.8);
    text-align: center;
}

.OdetteHandsCrossed{
    margin-left: 20px;
    max-width: 80%;
    opacity: 50%;
    
}

.facts_Nums{
    color: rgb(156, 186, 181);
    text-align: center;
    margin: 4em auto;
}

.facts_Nums>h1{
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
}

.num{
    font-size: 5rem;
    font-family: trajan-color, serif;
    font-feature-settings: "ss14";
    line-height: 1em;
}

a{
    text-decoration: none;
}

.text{
    font-family:'Montserrat', sans-serif;
    margin-top: -5.5em;
}

.quote{
    background-color:rgb(246, 217, 208,.5);
    text-align: center;
    padding-bottom: 4em;
    -webkit-box-shadow: 9px 14px 29px -11px rgba(156, 186, 181,1);
}

.quote p{
    color: #9CBAB5;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
    padding-top: 1em;
}

span{
    font-family: 'Montserrat', sans-serif;
    color: #9CBAB5;
    font-size: 0.8em;
    font-weight: bold;
}

.sources{
    font-family: 'Times New Roman', Times, serif;
    color: #9CBAB5;
    text-align: center;
    text-decoration: none;
    padding: 3em;
}

.sources, a{
    color: #9CBAB5;
}



footer{
    background-color: #9CBAB5;
    color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    padding: 25px;
    text-align: center;
}

}



@media only screen 
  and (min-device-width: 667px) 
  and (max-device-width: 719px) {


    header{
        display: flex;
        max-width: 85%;
        margin: 0 auto;
    }
        
    h2{
        font-size: 1.8em;
        text-align: left;
        margin-top: 20px;
    }
    
    
    .Trajan-concept { 
        font-size: 3.2em;
        line-height: 1.3em;
        text-align: left;
    }
    
    .odetteWatching{
        max-width: 300px;
        margin-top: 4em;
        margin-bottom: -20px;
    }
    
    .caption{
        width: 333px;
    }
    
    .about{
        margin-top: auto;
    }

    .about > p{
        padding-top: 2em;;
        align-content: center;
        width: 90%;
        margin: 0 auto;
    }


    .OdetteHandsCrossed{
        max-width: 50%;
    }

.info-align{
        margin: 0 auto;
        display: flex;
        max-width:80%;
    }

    .data{
        margin: 0 5%;
    }

    .data-1{
        margin-right: 10%;
    }
    
    .facts_Nums{
        color: rgb(156, 186, 181);
        text-align: center;
        margin-bottom: 10%;
    }
    
    .facts_Nums>h1{
        font-family:'Montserrat', sans-serif;
        font-size: 1.5rem;
        margin-top: 3rem;
        font-weight: 900;
        margin-bottom: -30px;;
    }    
    
    .text{
        font-family:'Montserrat', sans-serif;
        font-size: 0.8em;
        margin-top: -5em;
    }
   
    
    .quote>p{
        max-width: 70%;
        font-size: 3rem;
        margin: 30px auto;
    }
    
}






@media screen 
  and (min-device-width: 720px) 
  and (max-device-width: 900px) { 


header{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}



h2{
    margin-top: 50px;
    color: rgb( 156, 186, 181);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8em;
    text-align: left;
    margin-bottom: 20px;
}


.Trajan-concept { 
    font-size: 3em;
    line-height: 1.2em;
    text-align: left;
    margin-top: -5px;
    max-width: 20%;
}

.odetteWatching{
    max-width: 320px;
}

.header-img{
    margin-top: 100px;
}



.about{
    background-color: rgb( 156, 186, 181,.8);
    color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0 auto ;
    padding: 0.5em;
    width: 90%;
}
.about > p{
    max-width: 70%;
    margin-left: 55px;
}      

#about{
    display: flex;
}

.img{
    font-size: 0;
}

.transparentImage{
    width: 40%;
    background-color: rgb( 156,186,181,.8);
}

.OdetteHandsCrossed{
    padding-top: 10px;
    max-width: 140%;
    opacity: 50%;
    margin-left: -125px;
}

.info-align{
    margin: 0 auto;
    display: flex;
    max-width:80%;
}

.data{
    margin: 0 auto;
}

.data-1{
    margin-right: 10%;
}

.facts_Nums{
    color: rgb(156, 186, 181);
    text-align: center;
    margin-bottom: 10%;
}

.facts_Nums>h1{
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    font-weight: 900;
    margin-bottom: -30px;;
}

.num{
    font-size: 5rem;
    font-family: trajan-color, serif;
    font-feature-settings: "ss14";
    line-height: 1em;
    text-justify: auto;
}

a{
    text-decoration: none;
}

.text{
    font-family:'Montserrat', sans-serif;
    font-size: 0.8em;
    margin-top: -5em;
}

.quote{
    background-color:rgb(246, 217, 208,.5);
    text-align: center;
    padding-bottom: 30px;
    -webkit-box-shadow: 9px 14px 29px -11px rgba(156, 186, 181,1);
}

.quote>p{
    max-width: 70%;
    font-family: 'Cormorant Garamond', serif;
    color: #9CBAB5;
    font-size: 3rem;
    padding-top: 1em;
    margin: 30px auto;
}

.sources{
    font-family: 'Times New Roman', Times, serif;
    color: #9CBAB5;
    text-align: center;
    text-decoration: none;
    padding-top:50px;
    padding-bottom: 20px;
}

.sources, a{
    color: #9CBAB5;
}

span{
    font-family: 'Montserrat', sans-serif;
    color: #9CBAB5;
    font-size: 0.8em;
    font-weight: bold;
}

footer{
    background-color: #9CBAB5;
    padding: 10px;
    text-align: center;
    color: ivory;
    font-family: 'Montserrat', sans-serif;
}
  }




@media screen 
  and (min-device-width: 900px)  { 

    header{
        display: flex;
        max-width: 70%;
        margin: 0 auto;
    }
    
    
    
    h2{
        margin-top: 50px;
        color: rgb( 156, 186, 181);
        font-family: 'Cormorant Garamond', serif;
        font-size: 2em;
        text-align: left;
        margin-bottom: 20px;
    }
    
    
    .Trajan-concept { 
        font-size: 4em;
        line-height: 1.2em;
        text-align: left;
        margin-top: -5px;
        max-width: 20%;
    }
    
    .odetteWatching{
        max-width: 350px;
    }
    
    .header-img{
        margin-top: 100px;
    }
    
    
    
    .about{
        background-color: rgb( 156, 186, 181,.8);
        color: ivory;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        line-height: 1.5em;
        margin: 0 auto ;
        padding: 0.5em;
        width: 90%;
    }
    .about > p{
        max-width: 60%;
        margin-left: 12em;
    }      
    
    #about{
        display: flex;
    }
    
    .img{
        font-size: 0;
    }
    
    .transparentImage{
        width: 40%;
        background-color: rgb( 156,186,181,.8);
    }
    
    .OdetteHandsCrossed{
        padding-top: 10px;
        max-width: 90%;
        opacity: 50%;
        margin-left: -125px;
    }
    
    .info-align{
        margin: 0 auto;
        display: flex;
        max-width:80%;
    }
    
    .data{
        margin: 0 auto;
    }
    
    .data-1{
        margin-right: 10%;
    }
    
    .facts_Nums{
        color: rgb(156, 186, 181);
        text-align: center;
    }
    
    .facts_Nums>h1{
        font-family:'Montserrat', sans-serif;
        font-size: 2rem;
        margin-top: 3rem;
        font-weight: 900;
    }
    
    .num{
        font-size: 6rem;
        font-family: trajan-color, serif;
        font-feature-settings: "ss14";
        line-height: 1em;
        text-justify: auto;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        font-family:'Montserrat', sans-serif;
        font-size: 1em;
        margin-top: -5em;
    }
    
    .quote{
        background-color:rgb(246, 217, 208,.5);
        text-align: center;
        padding-bottom: 30px;
        -webkit-box-shadow: 9px 14px 29px -11px rgba(156, 186, 181,1);
    }
    
    .quote>p{
        max-width: 50%;
        font-family: 'Cormorant Garamond', serif;
        color: #9CBAB5;
        font-size: 4rem;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 20px auto;
    }
    
    .sources, a{
        color: #9CBAB5;
    }
    
    span{
        font-family: 'Montserrat', sans-serif;
        color: #9CBAB5;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    }
    

    

  
