
body{
    background-size: 100%;
    background-repeat: repeat;
    margin: 0 auto;
    text-align: center;
}


.tribute-to{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

h2{
    color: rgb( 156, 186, 181);
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    margin-bottom: 0;
}


.Trajan-concept { 
    max-width: 90%;
    align-self: center;
    font-family: trajan-color, serif;
    font-feature-settings: "ss12";
    font-size: 2.25em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 0.3em;
}

.odetteWatching{
    margin-top: 2em;
    margin-bottom: -10%;
    max-width: 90%;
}

.caption{
    max-width:80%;
    background-color:rgb(246, 217, 208);
    color: rgb(156, 186, 181); 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    text-align: left;
    position: relative;
    margin: 0 auto;
    -webkit-box-shadow: 9px 14px 29px -11px rgba(156, 186, 181,1);
    padding: 5px 5%;
}

#about{
    margin-top: 50px;;
    width: 100%;
    background-color: rgb( 156, 186, 181,.8);
    color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
  }



.about>p{
    margin: 0 auto;
    width: 80%;
    padding-top: 25px;
    text-align: left;
}

img{
    font-size: 0;
}

.transparentImage{
    text-align: center;
}

.OdetteHandsCrossed{
    max-width: 300px;
    opacity: 40%;
    margin-left: -20px;
    margin-bottom: -6px;
}

.facts_Nums{
    color: rgb(156, 186, 181);
    text-align: center;
    margin: 3em auto;
}

.facts_Nums>h1{
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 3rem;
}

.num{
    font-size: 5em;
    font-family: trajan-color, serif;
    font-feature-settings: "ss14";
    line-height: 1em;
}

a{
    text-decoration: none;
}

.text{
    font-family:'Montserrat', sans-serif;
    margin-top: -5.5em;
    font-weight: 400;
}

.quote{
    background-color:rgb(246, 217, 208,.5);
    text-align: center;
    -webkit-box-shadow: 9px 14px 29px -11px rgba(156, 186, 181,1);
    padding-bottom: 3em;
    margin-top: 5em;
}

.quote p{
    color: #9CBAB5;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
    padding-top: 1em;
}

span{
    font-family: 'Montserrat', sans-serif;
    color: #9CBAB5;
    font-size: 0.8em;
    font-weight: bold;
}

.sources{
    font-family: 'Times New Roman', Times, serif;
    color: #9CBAB5;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    padding: 20px;
    font-size: 1em;
}

.sources, a{
    color: #9CBAB5;
}

footer{
    background-color: #9CBAB5;
    color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    padding: 20px;
    text-align: center;
    opacity: 90%;
    }


/* ---------------------------  MediaQuery --------------------------*/


@media (min-width: 768px)  { 


header{
    display: flex;
    max-width: 80%;
    margin: 50px auto;
    align-content: space-between;
}

.tribute-to{
    text-align: left;
    max-width: 90%;
}

.Trajan-concept{
    font-size: 3.5em;
    align-self: flex-start;
    text-align: left;
    margin-right: 10px;
    max-width: 50%;
}

.odetteWatching{
    width: 100%;
    margin-top: 100px;
    max-width: 800px;
}

.caption{
    position: relative;
    max-width: 657px;
}


#about{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
  }

.about{
    
    align-self: flex-start;
    text-align: left;
    margin-right: 10px;
    max-width: 50%;
}

.about>p{
    padding: 20px 0;
    max-width: 100%;
    text-align: left;
    margin-left: 10vw;
    font-weight: bold;
}

.img{
    display: flex;
}

.OdetteHandsCrossed{
    margin-bottom: 1px;
    max-width: 350px;
    align-self: flex-end;
    margin-right: 5vw;
}

.facts_Nums{
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

p.num{
    margin-top: 30px
}

.info-align{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
}

.data{
    margin: 0 10%;
}


.quote>p{
    margin: 1em auto;
    max-width: 70%;
    font-size: 3.5em;
}

  }
  

  @media (min-width: 992px){


    header{
        max-width: 800px;
    }

    #about{
        margin: 0 auto;
    }

    .about{
        margin: 0 auto;
        max-width: 60%;
    }

    .about>p{
        max-width: 60%;
    }

    .data{
        margin-left: 12%;
    }

    
  }